<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipe Manager</title>
</head>
<body>
    
    <nav class="navbar dark p-2 bg-info shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand"><h3>Recipe Manager</h3></a>
            <form class="d-flex" role="search">
                {% if request.user.is_authenticated %}
                <a href="/logout/"class="btn btn-outline-dark" type="submit">Logout</a>
                {% else %}
                <a href="/login/"class="btn btn-outline-dark" type="submit">Login</a>
                {% endif %}

            </form>
        </div>
    </nav>
    {% block start %}

    {% endblock %}


</body>
</html>