{% extends "base.html" %}
{% block start %}
    
   
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="container mt-5">
        <form class="col-6 mx-auto card shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1><i>Login</i></h1>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <p>Don't have account?<a href="/register/">register</a></p>
            <button type="submit" class="btn btn-primary">Login</button>
            <br>
        </form>
    </div>

{% endblock %}